body {
    margin: 0px;
    height: 100vh;
  }

.navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    background-color: #333;
  }
  header, footer{
    width: 100%;
        position: fixed;        
            background: #333;
            color: #fff;
    }
    header{
        top: 0;
    }
    
    footer{
        bottom: 0;
    }
    
    nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }

#game {
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
}

h1 {
  text-align: center;
  color: #fff;
}

#stats {
    text-align: center;
}

#currentdonuts {
    padding: 5px;
    background-color: brown;
    text-align: center;
}

.leftsidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ccc;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.leftsidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.leftsidebar a:hover {
  color: #f1f1f1;
}

.leftsidebar .leftclosebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.leftopenbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: #ccc;
  padding: 10px 15px;
  border: none;
}

.leftopenbtn:hover {
  background-color: #444;
}

#trackingNav {
    display: flex;
    justify-content:space-between;
    transition: margin-left .5s;
    top: 50px;
    position:relative;
}

.rightsidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .rightsidebar a {
    padding:8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .rightsidebar a:hover {
    color: #f1f1f1;
  }
  
  .rightsidebar .rightclosebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    margin-right: 0;
  }
  
  .rightopenbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: #ccc;
    padding: 10px 15px;
    border: none;
  }
  
  .rightopenbtn:hover {
    background-color: #444;
  }
  

  #donutstore {
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    background-color: #ccc;
    text-align: center;
  }

  #donutstore img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
  }

  #storeimgs img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  #storecontainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: burlywood;
    padding: 1rem;
  }

  #storecontainer img {
    width: 25%;
    height: 100%;
    object-fit: contain;
  }
  
  #upgrades {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: column;
    background-color: #ccc;
    border-color: #000 2px solid;
    box-shadow: 5px 5px 25px 1px;
  }
  
  #upgrade1container {
    display: flex;
    text-align: center;
    border: solid black 2px;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  #upgrade1 {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    text-align: center;
    border: solid black 2px;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 5px;
  }
  
  #upgrade1hide {
    display: none;
  }
  
  #upgrade1:hover + #upgrade1hide {
    text-align: center;
    width: 100%;
    display: block;
    color: #000;
    font: 1em sans-serif;
    border: #000 solid 2px;
    border-radius: 7px;
  }
  
  #upgrade2 {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    text-align: center;
    border: solid black 2px;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 5px;
  }

  #upgrade2hide {
    display: none;
  }
  
  #upgrade2:hover + #upgrade2hide {
    text-align: center;
    width: 100%;
    display: block;
    color: #000;
    font: 1em sans-serif;
    border: #000 solid 2px;
    border-radius: 7px;
  }
  
  #upgrade3 {
    border: solid black 2px;
    padding: 5px;
    margin-bottom: 2px;
  }
  
  #upgrade4 {
    border: solid black 2px;
    padding: 5px;
    margin-bottom: 2px;
  }
  
  #upgrade5 {
    border: solid black 2px;
    padding: 5px;
    margin-bottom: 2px;
  }
  
  #upgrade6 {
    border: solid black 2px;
    padding: 5px;
    margin-bottom: 2px;
  }

#donuts {
  font: 2em sans-serif;
  text-align: center;
}

#donutAssistantsCount {
  font: 2em sans-serif;
  text-align: center;
}

#donutTotal {
  font: 2em sans-serif;
  text-align: center;
}

#donutbutton {
  text-decoration: none;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  border-radius: 50%;
}

#donutbutton:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#donutAssist {
  margin: 3px;
}

#donutAssist:hover {
  cursor: pointer;
  border: #000 solid 2px;
}

#donutmaker {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: brown;
}

#donutmaker img {
  height: 50%;
  width: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

#donutmaker img:hover {
  transform: scale(1.2);
}

#donuts:hover {
  transform: scale(1.2);
}

